*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightslategrey;
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px;
    
    background-size: cover;
}



.forgot-container{
    background-color: white;
    display: flex;
    padding: 30px;
    border: 1px solid #ccc;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    height: 87vh;
    


}
.forgot-container .left, .forgot-container .right {
    flex: 1; 
}

.forgot-container .left {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0px;
    margin: 0px;
    flex-direction: row-reverse;
}

.forgot-container .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.forgot-container .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
    
}

h2{
    margin-bottom: 20px;
    font-size: 24px;
    color:#333;


}

form{
    font-size: 24px;
    color:#333;
    margin-bottom: 50px;
    margin: 0px;
    
    
}


label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;

}

input{
    width: 80%;
    padding: 8px;
    margin-bottom: 20px;
    border:1px solid #ccc;
    border-radius: 5px;

}

button{
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    background-color: lightseagreen;
    width: 45%;
    
    
}
h1{
    font-size: 35px;
}
p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    color:#333
}
a{
    text-decoration: none;
    margin-top: 10px;
    font-size: small;
   
    
    color: #333;
}
a:hover{
    text-decoration: underline;
}



button:hover{
    opacity: 0.8;
}


.logo{
    width: 150x;
   
    padding-right: 2px; 
     
}